* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "poppins";
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  color: #fff;
}

#btn {
  margin-top: 5px;
  padding: 0.7rem 1rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background: #3a0ca3;
}

main {
    background: #000;
    color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

h1 {
  background-image: url("https://images.unsplash.com/photo-1676747995218-5c38799cd71b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10rem;
  transition: 0.5s ease;
}

h4 {
    margin-top: -15px;
    font-size: 1.2rem;
    transition: 0.5s ease;
}

p {
    margin: 0 auto;
    transition: 0.5s ease;
  font-size: 0.7rem;
  max-width: 400px;
}
