@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    transition: 0.2s ease;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.box {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    height: max(30%, auto);
    width: max(40%, auto);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.input-box {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    gap: 1rem;
}

.input {
    color: #000;
    background-color: transparent;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border-radius: 5px;
    min-width: 99%;
    max-width: 40%;
    font-size: max(1.5vw, 14px);
    z-index: 1;
    border: 1px solid rgb(201, 201, 201);
    font-weight: 600;   
}

.input::selection{
    background: #4aa2ff;
    color: #fff;

}
.input:hover {
    background: #f8f8f8;
    border: 1px solid #4aa2ff;
}

.input:focus {
    border: 1px solid #4aa2ff;
    outline: none;
}

.input::placeholder{
    color: rgb(180, 180, 180);
}

label{
    font-size: max(1.5vw, 14px);
    font-weight: 500;
}

